.each-gallery-box {
	margin-top: 2%;
}
.each-gallery-box > .wrapper {
	background: transparent;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
}
.each-gallery-box .mask-action {
	position: relative;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	height: 100%;
	width: 100%;
	background: rgba(255,0,0, 0);
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	transition: 0.5s;
}
.each-gallery-box .mask-action > .image-action {
	opacity: 0;
	margin: auto;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	transition: 0.5s;
}
.each-gallery-box:hover .mask-action {
	background: rgba(255,0,0, 0.5);
}
.each-gallery-box:hover .mask-action > .image-action {
	opacity: 1;
}