@font-face {
    font-family: "PENLIIT";
    src: url("../fonts/PENLIIT_.TTF") format("truetype");
}

*,body {
	font-family: "Century Gothic";
}

.header_top {
	background: #38A935;
}
.header-middle > .container > .row {
	border-bottom: 0;
}
.header_top ul > li > a,
.header-middle ul > li > a {
	color: #006533;
	font-family: "Century Gothic";
}

.carousel-inner > .item {
	padding-left: 0;
	text-align: center;
}
.carousel-inner > .item h1,
.carousel-inner > .item h2,
.carousel-inner > .item p,
.carousel-inner > .item a.btn,
.carousel-inner > .item > * {
	font-family: "Century Gothic";
	color: #FFF;
	text-shadow: 1px 1px 2px #000;
}
.carousel-inner > .item > .ticker-headline{
	text-shadow: 0 0 0 black;
}

#slider .horizontal .carousel-inner {
	height: 500px;
}
.horizontal .carousel-inner > .item h1 {
	font-size: 50pt;
	font-weight: bold;
}
.horizontal .carousel-inner > .item h2 {
	font-size: 16pt;
}
.horizontal .carousel-inner > .item p {
	font-size: 11pt;
}
.horizontal .carousel-inner > .item a.get {
	background: transparent;
	border: 2px solid #FFF;
	font-size: 11pt;
	font-weight: bold;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	transition: 0.5s;
}
.horizontal .carousel-inner > .item a.get:hover {
	background: rgba(255,255,255,0.3);
}
.background-photo {
	position: fixed;
	height: 100%;
	display: flex;
  align-items: center;
}
.background-photo > img {
	width: 100%;
	-webkit-filter: blur(2px) grayscale(70%);
	filter: blur(2px) grayscale(70%);
}

.carousel.vertical .carousel-inner .item {
  -webkit-transition: 0.6s ease-in-out top;
     -moz-transition: 0.6s ease-in-out top;
      -ms-transition: 0.6s ease-in-out top;
       -o-transition: 0.6s ease-in-out top;
          transition: 0.6s ease-in-out top;
}
.carousel.vertical .active {
  top: 0;
}
.carousel.vertical .next {
  top: 100%;
}
.carousel.vertical .prev {
  top: -100%;
}
.carousel.vertical .next.left,
.carousel.vertical .prev.right {
  top: 0;
}
.carousel.vertical .active.left {
  top: -100%;
}
.carousel.vertical .active.right {
  top: 100%;
}
.carousel.vertical .item {
	left: 0;
}
.vertical .carousel-inner .item {
	padding: 15px;
}
.ticker-headline a {
	color: #006734;
}

.control-carousel {
	padding: 0 3%;
}
.carousel-controls {
	color: #000;
	text-shadow: 0 0 0 #FFF;
}
.control-carousel:hover,
.carousel-controls:hover {
	color: #38A935;
}

.carousel-search {
	width: 100%;
	position: absolute;
	bottom: 0;
	pointer-events: none;
}
.search-venue-form.front {
	width: 100%;
	margin-left: 10%;
	background: url("../images/assets/PH_board_img.png") center no-repeat;
	height: 320px;
	padding-top: 90px;
	pointer-events: auto;
}
.search-venue-form.front .form-group {
	margin: 5px 0;
}
.search-venue-form.front .form-group label {
	color: #006734;
}
.search-venue-form.front .form-group .input-group-addon {
	background: rgba(56,169,53, 0.6);
	border: 0;
	color: #000;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}
.search-venue-form.front .form-group .well {
	background: transparent;
	border: none;
	padding: 0;
}
.search-venue-form.front .form-group .well .slider .slider-track {
	background: rgba(56,169,53, 0.6);
}
.search-venue-form.front .form-group .well .slider .slider-track .slider-selection,
.search-venue-form.front .form-group .well .slider .tooltip .tooltip-inner {
	background: rgba(56,169,53, 1);
}
.search-venue-form.front .form-group .well .slider .tooltip .tooltip-arrow {
	border-top-color: rgba(56,169,53, 1);
}

.search-venue-form.front .form-group input,
.search-venue-form.front .form-group select,
.search-venue-form.front .form-group .btn,
.search-venue-form.front .form-group .select2-selection {
	background: rgba(56,169,53, 0.6);
	color: #000;
	border: 0;
	padding: 0 12px;
	height: 30px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}
.search-venue-form.front .form-group .btn {
	background: rgba(56,169,53, 1);
	color: #FFF;
}
.search-venue-form.front .form-group input::-webkit-input-placeholder,
.search-venue-form.front .form-group select::-webkit-input-placeholder {
	color: #000;
}
.search-venue-form.front .form-group input:-moz-placeholder,
.search-venue-form.front .form-group select:-moz-placeholder {
	color: #000;
}
.search-venue-form.front .form-group input::-moz-placeholder,
.search-venue-form.front .form-group select::-moz-placeholder {
	color: #000;
}
.search-venue-form.front .form-group input:-ms-input-placeholder,
.search-venue-form.front .form-group select:-ms-input-placeholder {
	color: #000;
}
.search-venue-form.front .form-group input::-ms-input-placeholder,
.search-venue-form.front .form-group select::-ms-input-placeholder {
	color: #000;
}
.search-venue-form.front .form-group input:placeholder-shown,
.search-venue-form.front .form-group select:placeholder-shown {
	color: #000;
}
.search-venue-form.front .form-group .select2 .select2-selection__placeholder,
.search-venue-form.front .form-group .select2 .select2-selection__rendered{
	color: #000;
}

.search-sidebar {
	background: #E6E6E6;
	position: absolute;
}
.search-sidebar > h2:before {
	background: transparent;
	border: 0;
}
.search-sidebar > h2:after {
	border: 0;
}
.search-sidebar > h2 {
	margin: 0;
	padding: 0 10px;
	margin-top: 35px;
	color: #006837;
	font-family: "Century Gothic";
	font-style: italic;
	font-weight: normal;
	text-align: left;
}
.search-sidebar > .panel-group {
	margin-top: 15px;
}
.search-sidebar .form-group .input-group-addon {
	background: transparent;
	border: 2px solid #006837;
	color: #006837;
	-webkit-border-radius: 0 12px 12px 0;
	-moz-border-radius: 0 12px 12px 0;
	border-radius: 0 12px 12px 0;
}
.search-sidebar .form-group .well {
	background: transparent;
	border: none;
	padding: 0;
}
.search-sidebar .form-group .well .slider .slider-track {
	background: transparent;
	border: 1px solid #006837;
}
.search-sidebar .form-group .well .slider .slider-track .slider-selection,
.search-sidebar .form-group .well .slider .tooltip .tooltip-inner {
	background: #006837;
}
.search-sidebar .form-group .well .slider .tooltip .tooltip-arrow {
	border-top-color: #006837;
}
.search-sidebar .form-group .well {
	margin-bottom: 30px;
}
.search-sidebar .form-group input,
.search-sidebar .form-group select,
.search-sidebar .form-group .select2-selection {
	background: transparent;
	border: 2px solid #006837;
	color: #006837;
	padding: 5px 12px;
	height: 38px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}
.search-sidebar .form-group .btn {
	background: #006837;
	text-align: left;
	color: #FFF;
	padding: 5px 12px;
	height: 38px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}
.search-sidebar .form-group input::-webkit-input-placeholder,
.search-sidebar .form-group select::-webkit-input-placeholder {
	color: #62B96F;
}
.search-sidebar .form-group input:-moz-placeholder,
.search-sidebar .form-group select:-moz-placeholder {
	color: #62B96F;
}
.search-sidebar .form-group input::-moz-placeholder,
.search-sidebar .form-group select::-moz-placeholder {
	color: #62B96F;
}
.search-sidebar .form-group input:-ms-input-placeholder,
.search-sidebar .form-group select:-ms-input-placeholder {
	color: #62B96F;
}
.search-sidebar .form-group input::-ms-input-placeholder,
.search-sidebar .form-group select::-ms-input-placeholder {
	color: #62B96F;
}
.search-sidebar .form-group input:placeholder-shown,
.search-sidebar .form-group select:placeholder-shown {
	color: #62B96F;
}
.search-sidebar .form-group .select2 .select2-selection__placeholder,
.search-sidebar .form-group .select2 .select2-selection__rendered {
	color: #006837;
}

.title-box > h2 {
	color: #006837;
	font-family: "Century Gothic";
	width: 100%;
}
.title-box > h2:after {
	border: 0;
}

ul.content-box {
	padding: 0;
}
ul.content-box > li {
	float: left;
	position: relative;
	width: 100%;
	margin-bottom: 15px;
}
ul.content-box > li > .col-md-4,
ul.content-box > li > .col-md-8 {
	height: 100px;
}
ul.content-box > li .result-photo {
	height: 100%;
	overflow: hidden;
	display: flex;
  align-items: center;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}
ul.content-box > li  .result-photo > img {
	width: 100%;
}
ul.content-box > li .result-detail {
	background: #38A935;
	color: #FFF;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}
ul.content-box > li .result-detail h3 {
	margin-top: 12px;
	font-size: 15pt;
}
ul.content-box > li .result-detail h4 {
	font-size: 13pt;
}
ul.content-box > li .result-detail h3,
ul.content-box > li .result-detail h4 {
	font-family: "Century Gothic";
	font-weight: bold;
	margin-bottom: 0;
}
ul.content-box > li .result-detail span {
	display: block;
	margin-top: 5px;
}
ul.content-box > li .result-detail span > .type-icon {
	height: 17px;
}
ul.content-box > li .result-detail a.btn {
	margin: 30px auto;
	background: #FFF;
	color: #000;
}

.right-side {
	padding-top: 60px;
}
.right-side .box-detail {
	padding: 10px 0;
	border-bottom: 1px solid #FFF;
}

.box-detail h1 {
	font-family: "Century Gothic";
	font-weight: bold;
	border-bottom: 1px solid #FFF;
	padding-bottom: 7px;
}
.box-detail .gallery-fix {
	padding: 0;
	width: 100%;
	overflow: hidden;
}
.box-detail .gallery-fix a.control-carousel {
	position: absolute;
	top: 0;
	padding: 0;
	margin: 10px;
	color: rgba(0,0,0,0.3);
}
.box-detail .gallery-fix a.control-carousel:hover {
	color: rgba(255,255,255,0.6);
}
.box-detail .gallery-fix > ul.gallery-box {
	position: relative;
	right: 0;
	height: 100px;
	padding: 10px 0;
	white-space: nowrap;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	transition: 0.5s;
}
.box-detail ul.book-list,
.box-detail ul.book-list * {
	padding: 0;
	margin: 0;
}
.box-detail ul.book-list > li {
	margin: 0;
	padding: 10px 0;
	border-bottom: 1px solid #FFF;
}
.box-detail ul.book-list > li.last {
	padding-bottom: 0;
	border-bottom: 0;
}
.box-detail .btn {
	background: #FFF;
	color: #38A935;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
.box-detail ul.book-list .btn {
	padding: 5px 12px;
}
.box-detail .form-control {
	border: 1px solid #FFF;
	color: #38A935;
}
.box-detail .input-group-addon {
	background: #38A935;
	color: #FFF;
	border: 1px solid #FFF;
}
.border-right {
	border-right: 1px solid #FFF;
}

ul.gallery-box > li.gallery-item {
	display: inline-block;
	height: 100%;
	margin-left: 10px;
}
ul.gallery-box > li.gallery-item.first {
	margin-left: 0;
}
ul.gallery-box > li.gallery-item img {
	height: 100%;
}
.main-photo .photo-title {
	background: rgba(0,0,0, 0.7);
	position: absolute;
	bottom: 0;
}
.main-photo .photo-title h3 {
	margin: 10px auto;
	font-family: "Century Gothic";
}

.section-green {
	background: #38A935;
	color: #FFF;
}
.section-green a {
	color: #FFDDBB;
}
.section-green .bootstrap-datetimepicker-widget {
	color: #000;
}
.green-box {
	padding: 20px;
	background: #38A935;
}

.form-box {
	font-family: "Century Gothic";
	padding-top: 10px;
}
.form-box h2 {
	text-align: center;
}

.text-green {
	color: #006632 !important;
}

.image-circle,
.image-circle-green {
	padding: 2px;
	-webkit-border-radius: 500px;
	-moz-border-radius: 500px;
	border-radius: 500px;
}
.image-circle-green {
	background: #006632;
}

.black-tooltip + .tooltip > .tooltip-arrow {border-top-color: #000;}
.black-tooltip + .tooltip > .tooltip-inner {background-color: #000;}