.terms-field {
	height: 380px;
	width: 100%;
	margin: auto;
	padding: 0 20px;
	overflow-y: scroll;
	background: #F8F8F8;
	border: 1px inset;
}
.terms-title {
	font-size: 20pt;
}
.terms-field ol.list-number,
.terms-field ol.list-sub-number,
.terms-field ol.list-alphabet {
	padding: 0;
	margin-left: 0;
	list-style-type: none;
}
.terms-field ol.list-number > li {
	counter-increment: step-number;
	margin-bottom: 25px;
}
.terms-field ol.list-sub-number > li {
	counter-increment: step-sub-number;
	text-indent: -28px;
	margin-bottom: 20px;
}
.terms-field ol.list-alphabet > li {
	counter-increment: step-alphabet;
	margin-bottom: 10px;
	padding-left: 18px;
	text-indent: -18px;
}
.terms-field ol.list-number > li::before {
	content: counter(step-number) ". ";
}
.terms-field ol.list-sub-number > li::before {
	content: counter(step-number) "." counter(step-sub-number) ". ";
}
.terms-field ol.list-alphabet > li::before {
	content: counter(step-alphabet, lower-latin) ". ";
}
.terms-field ol.list-number > li::before,
.terms-field ol.list-number > li > .list-title {
	font-size: 15pt;
	font-weight: bold;
}
.terms-field ol.list-number > li > p,
.terms-field ol.list-number > li > ol {
	margin-top: 10px;
	padding-left: 23px;
}